<div class="register-container">
    <!-- Phần hình ảnh bên trái -->
    <div class="register-image"></div>
  
    <!-- Phần form đăng ký bên phải -->
    <div class="register-form">
      <h2 class="title">Tạo tài khoản mới</h2>
      <p class="description">Vui lòng nhập thông tin tại đây</p>
  
      <form>
        <div class="form-group">
          <label for="lastName">Họ</label>
          <input type="text" id="lastName" class="form-control" placeholder="Họ" />
        </div>
  
        <div class="form-group">
          <label for="firstName">Tên</label>
          <input type="text" id="firstName" class="form-control" placeholder="Tên" />
        </div>
  
        <div class="form-group">
          <label for="address">Địa chỉ</label>
          <input type="text" id="address" class="form-control"" placeholder="Địa chỉ" />
        </div>
  
        <div class="form-group">
          <label for="phone">Số điện thoại</label>
          <input type="text" id="phone" class="form-control" placeholder="Số điện thoại" />
        </div>
        <div class="form-group">
          <label for="password">Mật khẩu</label>
          <input type="password" id="password" class="form-control" placeholder="Mật khẩu"
            [(ngMOdel)] ="phone" 
            (input) = "onPhoneChange" />
        </div>
  
        <div class="form-group">
          <label for="email">Email</label>
          <input type="email" id="email" class="form-control" placeholder="Email" />
        </div>
  
        <div class="form-check">
          <input type="checkbox" id="terms" class="form-check-input" />
          <label for="terms" class="form-check-label">Tôi đồng ý với Điều khoản & Điều kiện</label>
        </div>
  
        <button type="submit" class="btn btn-primary w-100">Đăng ký</button>
      </form>
    </div>
  </div>
  