<app-header></app-header>
<div class="order-confirm-container">
    <h1 class="order-header">Xác nhận đơn hàng</h1>
    <p class="order-message">
      Cảm ơn bạn đã đặt hàng tại <span class="brand-name">CHUTEDDY.VN</span>!
    </p>
    <div class="order-summary">
      <p><strong>Mã đơn hàng:</strong> #123456789</p>
      <p><strong>Tổng tiền:</strong> $467</p>
      <p><strong>Ngày đặt:</strong> 25/11/2024</p>
      <p>
        <strong>Trạng thái đơn hàng:</strong>
        <span class="order-status">Đang xử lý</span>
      </p>
    </div>
    <button class="btn btn-primary" routerLink="/">Tiếp tục mua sắm</button>
  </div>
  <app-footer></app-footer>
  