<app-header></app-header>
<div class="container">
<!-- Advertising Banner -->
<div class="advertising-banner">
    <div class="banner-overlay"></div>
    <div class="banner-content">
        <!-- <h1 class="banner-title">CHUTEDDY</h1> -->
        <!-- <p class="banner-subtitle">Mềm mại - Ôm vào là MÊ!</p> -->
        <button class="banner-button">Xem sản phẩm</button>
    </div>
</div>


    <!-- New Arrival Section -->
    <h2 class="section-title">NEW ARRIVAL</h2>
    <div class="product-row">
        <div class="product-item">
            <div class="product-image-wrapper">
                <img src="https://i.pinimg.com/474x/eb/85/4c/eb854cbea2e988bb751ccd71a9d3fd06.jpg" alt="Tên sản phẩm" class="product-image">
            </div>
            <h3 class="product-name">Tên sản phẩm</h3>
            <div class="product-rating">
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-regular fa-star"></i>
            </div>
            <div class="product-price">420.000 VNĐ</div>
        </div>
        
        <div class="product-item">
            <div class="product-image-wrapper">
                <img src="https://i.pinimg.com/474x/eb/85/4c/eb854cbea2e988bb751ccd71a9d3fd06.jpg" alt="Tên sản phẩm" class="product-image">
            </div>
            <h3 class="product-name">Tên sản phẩm</h3>
            <div class="product-rating">
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-regular fa-star"></i>
            </div>
            <div class="product-price">420.000 VNĐ</div>
        </div>
        
        <div class="product-item">
            <div class="product-image-wrapper">
                <img src="https://i.pinimg.com/474x/eb/85/4c/eb854cbea2e988bb751ccd71a9d3fd06.jpg" alt="Tên sản phẩm" class="product-image">
            </div>
            <h3 class="product-name">Tên sản phẩm</h3>
            <div class="product-rating">
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-regular fa-star"></i>
            </div>
            <div class="product-price">420.000 VNĐ</div>
        </div>
        
        <div class="product-item">
            <div class="product-image-wrapper">
                <img src="https://i.pinimg.com/474x/eb/85/4c/eb854cbea2e988bb751ccd71a9d3fd06.jpg" alt="Tên sản phẩm" class="product-image">
            </div>
            <h3 class="product-name">Tên sản phẩm</h3>
            <div class="product-rating">
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-regular fa-star"></i>
            </div>
            <div class="product-price">420.000 VNĐ</div>
        </div>
        
    </div>

    <h2 class="section-title">TOP SELLER</h2>
    <div class="product-row">
        <div class="product-item">
            <div class="product-image-wrapper">
                <img src="https://i.pinimg.com/474x/eb/85/4c/eb854cbea2e988bb751ccd71a9d3fd06.jpg" alt="Tên sản phẩm" class="product-image">
            </div>
            <h3 class="product-name">Tên sản phẩm</h3>
            <div class="product-rating">
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-regular fa-star"></i>
            </div>
            <div class="product-price">420.000 VNĐ</div>
        </div>
        
        <div class="product-item">
            <div class="product-image-wrapper">
                <img src="https://i.pinimg.com/474x/eb/85/4c/eb854cbea2e988bb751ccd71a9d3fd06.jpg" alt="Tên sản phẩm" class="product-image">
            </div>
            <h3 class="product-name">Tên sản phẩm</h3>
            <div class="product-rating">
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-regular fa-star"></i>
            </div>
            <div class="product-price">420.000 VNĐ</div>
        </div>
        
        <div class="product-item">
            <div class="product-image-wrapper">
                <img src="https://i.pinimg.com/474x/eb/85/4c/eb854cbea2e988bb751ccd71a9d3fd06.jpg" alt="Tên sản phẩm" class="product-image">
            </div>
            <h3 class="product-name">Tên sản phẩm</h3>
            <div class="product-rating">
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-regular fa-star"></i>
            </div>
            <div class="product-price">420.000 VNĐ</div>
        </div>
        
        <div class="product-item">
            <div class="product-image-wrapper">
                <img src="https://i.pinimg.com/474x/eb/85/4c/eb854cbea2e988bb751ccd71a9d3fd06.jpg" alt="Tên sản phẩm" class="product-image">
            </div>
            <h3 class="product-name">Tên sản phẩm</h3>
            <div class="product-rating">
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-regular fa-star"></i>
            </div>
            <div class="product-price">420.000 VNĐ</div>
        </div>
        
    </div>

    <!-- Styling Section -->
    <h2 class="section-title">OUR COLECTION</h2>
    <div class="styling-row">
        <div class="colection-item">
            <img src="https://i.pinimg.com/736x/93/d1/d8/93d1d89ec09ef1b2f50f9e7d2fb97b65.jpg" alt="Colection Image"
                class="colection-image">
            <button class="detail-button">Xem chi tiết</button>
        </div>
        <div class="colection-item">
            <img src="https://i.pinimg.com/474x/c2/38/c7/c238c724173223dae8b53990bda745ef.jpg" alt="Colection Image"
                class="colection-image">
            <button class="detail-button">Xem chi tiết</button>
        </div>
    </div>
    <div class="features">
        <div class="feature-item">
            <i class="fa-solid fa-truck"></i>
            <p>Giao hàng tận nhà</p>
        </div>
        <div class="feature-item">
            <i class="fa-solid fa-gift"></i>
            <p>Gói quà siêu đẹp</p>
        </div>
        <div class="feature-item">
            <i class="fa-solid fa-soap"></i>
            <p>Cách giặt gấu bông</p>
        </div>
        <div class="feature-item">
            <i class="fa-solid fa-stethoscope"></i>
            <p>Bảo hành gấu bông</p>
        </div>
    </div>
    


    <div class="campaign-section">
        <!-- Phần hình ảnh -->
        <img src="https://i.pinimg.com/736x/2a/d8/de/2ad8def1c8c2c1ac9e1eb233f9493e0d.jpg"
            alt="Uniquely Classic Campaign">
        <!-- Phần nội dung -->
        <div>
            <h5>Uniquely Classic Campaign</h5>
            <p>
                "Mỗi cá thể là một màu sắc riêng biệt", đó cũng là nguồn cảm hứng lớn nhất để phát triển nên bộ sưu tập
                Uniquely Classic.
                Với tầm nhìn phát triển tối ưu giá trị độc đáo của từng sản phẩm, bộ sưu tập này hướng đến sự tinh tế,
                tự tin và tính ứng dụng cao
                trong thời trang hiện đại.
            </p>
            <a href="#" class="btn-dark">Xem thêm</a>
        </div>
    </div>

    <div class="campaign-section">
        <!-- Phần nội dung -->
        <div>
            <h5>Special Deals For You</h5>
            <p>Khám phá ngay những chương trình khuyến mãi nổi bật nhất tháng 12 trên các kênh mua sắm của CHUTEDDY nhé!
            </p>
            <a href="#" class="btn-dark">Mua ngay</a>
        </div>
        <!-- Phần hình ảnh -->
        <img src="https://i.pinimg.com/736x/2a/d8/de/2ad8def1c8c2c1ac9e1eb233f9493e0d.jpg" alt="Special Deals">
    </div>

</div>
<app-footer></app-footer>